.home_wrapper {
  background-color: #003566;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.logo {
  width: auto;
  height: auto;
}


.rocket {
  animation: moveUpDown 1.5s ease-in-out infinite;
  width: 69%;
  height: auto;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.progress_wrapper {
  box-shadow: 0 0 5px green;
  width: 100%;
}

.progress {
  height: 13px;
  width: 100%;
  background-color: rgb(175, 236, 83);
}

.left_pokemon {
  animation: slideInFromLeft 1s ease-in-out;
}

.right_pokemon {
  animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.start_game {
  position: relative;
  bottom: -100px;
  opacity: 0;
  animation: slideIn 0.5s ease-in-out 1.1s forwards;
}

@keyframes slideIn {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.logo_container {
  opacity: 0;
  position: relative;
  animation: slide-in 1.5s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes slide-in {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}